<div class='game_message'>
  <%if @error %>
    <div class="alert alert-error"><%=@error%></div>
  <%end%>
</div>  

<div id='name_page'>
  <h2>Welcome to Blackjack!</h2>
  <h4>What is your name?</h4>
  <div id='name_table'>
    <form action='/get_name' method='post'>
      <input type='text' name='player_name'/>
      <input type="submit" class='btn btn-large btn-primary' value='Start!'/>
    </form>
  </div>
</div> 