<h2>Welcome to Blackjack!</h2>
<h4>What is your name?</h4>

<form action='/get_name' method='post'>
  <table id="get_name"><tr>
    <th><input type='text' name='player_name'/></th>
    <th><input type="submit" class='btn'/></th>
  </tr></table>
</form>