<!DOCTYPE html>
<html>
  <head>
    <title>Ed's Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/application.css"/>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>    
  </head>
  <body>

  <div class="container" id="blackjack_title">
    <p> B L A C K J A C K </p>
  </div>

  <button class="btn btn-large btn-inverse" id='fixed_button'>
    <a href="/get_name">Start Over</a>
  </button>

  <div class="container">
    <%= yield %>
  </div>
  <script type="text/javascript" src="/vendor/jquery-1.11.0.min.js"></script>
  <script src="/application.js"></script>
  </body>
</html>
